<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CurrenSync</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css"/>
  </head>
  <body>
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between p-2 mb-5 border-bottom">
      <div class="col-md-3 mb-2 mb-md-0 logo">
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
          <img src="assets/logo.png" alt="site logo" height="50" width="50"/>
        </a>
      </div>

      <div class="heading"><h1>CurrenSync</h1></div>

      <div class="col-md-3 text-end source">
        <a href="https://github.com/Quazi-Shams-Kabir/CurrenSync">
        <img
        src="assets/images/github2.png"
        alt="github logo"
        height="50px"
        width="100px"
      /></a>
      </div>
    </header>
    <main class="container">